/* URL FORM */

.urlFormCards{
  display: flex;
  padding: 1rem;
  margin-bottom: 5rem;
  border-radius: 2.5px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0);
  font-family: 'Barlow', sans-serif;
}

.resultsCard{
  display: flex;
  padding: 1rem;
  border-radius: 2.5px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0);
}

.urlFormCardHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.urlFormCardHeaderText{
  font-size: 1.5em;
}

.urlForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singleURLInput{
  width: 30rem;
  font-size: 1.2em;
  background-color: #f2f2f2;
  padding: .75rem;
  border: none;
  outline: none;
}

.multipleURLsInput{
  width: 30rem;
  height: 10rem;
  font-size: 1.2em;
  background-color: #f2f2f2;
  padding: .75rem;
  border: none;
  outline: none;
}

.inputDivider{
  width: 100%;
  font-size: 1.3em;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitURLButton{
  background-color: #26BB87;
  color: white;
  height: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2.5px;
  margin-top: 1rem;
  font-size: 1.2em;
  width: 100%;
}

.note {
  font-size: 13px;
  color:#727272
}


/* HOME RESULTS */


.display {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  /* margin: 5rem; */
}

.card {
  /* padding-top: 10rem; */
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  border-width: 0.5rem;
}

.card:hover {
  background: #F4F7FA;
}

.cardBody {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.cardBody2 {
  display:flex;
  flex-direction: row wrap;
  justify-content: center;
}

.cardBody2 > div {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.card-body3 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card-body3 > div {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  align-items: center;
  width: 10rem;
}

.card-body3 > whois {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

h4 {
  color: #D69A00;
  font-size: 30px;
  align-self: center;
}

.score {
  color: #39B1EE;
  font-size: 30px;
  align-self: center;
  margin-top: 0px;
}

.score2 {
  color: #39B1EE;
  align-self: center;
  font-size: 15px;
}

p > .subtitle {
  font-size: 20px;
  margin:0px;
  align-self: center;
}

.explanation {
  font-size: 13px;
  color: #727272;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0;
}