Table {
    width: 80vh;
    font-family: 'Barlow', sans-serif;
    height: 10rem;
}

td {
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
}

th {
    background-color: #f4f7fa;
}

.Toolbar {
    background-color: #f4f7fa;
    position: absolute
}
.download {
    background-color: black;
}