.loginRoot{
  height: 100vh;
  width: 100vw;
  background-color: #262a34;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.loginForm{
  width: 30rem;
  margin-top: 15vh;
  padding: 2rem;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.loginFormTitle{
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.loginInput{
  height: 3rem;
}

.loginButton{
  width: 100%;
  background-color: #e95656;
  color: white;
  height: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2.5px;
  margin-top: 1rem;
}

.loginFooter{
  background-color: #363b4a;
  margin-top:auto;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loginFooterText{
  font-size: 1.2em;
  color: white;
}

.loginFooterBtnSignup{
  background-color: #e95656;
  color: white;
  height: 2.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2.5px;
  width: 7rem;
  margin-left: 2rem;
}